<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="final-design">
    <div class="home-parent">
      <div class="home"><a href="#">Home</a></div>
      <div class="learn"><a href="#">Learn</a></div>
      <div class="signin"><a href="#">Sign In</a></div>
    </div>
    <div class="person-parent">
      <div class="icons"><i class="fa-regular fa-user"></i></div>

      <div class="frame-child"></div>
      <img class="person-icon" alt="" src="./public/filterright.svg" />
    </div>
    <div class="frame-parent">
      <div class="frame-wrapper">
        <div class="talk-hands-parent">
          <div class="talk-hands">Talk Hands</div>
          <div class="talk-with-your-container">
            <p class="talk-with-your">
              Talk with your hands -- swap sound for visue.
            </p>
            <p class="talk-with-your">
              Put your Gestures and get output in Discover all you need for ISL learning.
              For fluent and native signers, explore and master ISL and bilingualism.
              master ISL and bilingualism.
            </p>

          </div>
        </div>
      </div>
      <div class="frame-item"></div>
      <img class="frame-inner" alt="" src="Screenshot_2024-04-30_095612-removebg-preview.png" />

      <div class="learn-wrapper">
        <div class="learn"><a href="learn1.html">
          <button class="learn">
            Learn
          </button>
          </a>
        </div>
      </div>
      <div class="gesture-input-wrapper">
        <div class="learn"><a href="index.html"><button class="learn">
          Gesture Input
        </button></a></div>
      </div>
      <img class="sign-languagephoto-removebg-pr-icon" alt="" src="sign-languagephoto-removebg-preview.png" />
    </div>
  </div>
  <div class="search-page">
    <div class="what-are-you-looking-for-parent" id="what-are-you-looking-for-parent">
      <input type="text" placeholder="What are you looking for...">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="frame-group">
      <img class="frame-icon" alt="" src="alphabet .jpeg" />

      <div class="a-wrapper">
        <div class="a">F</div>
      </div>
    </div>
    <div class="frame-container">
      <img class="frame-icon" alt="" src="alphabet k.jpeg" />

      <div class="a-wrapper">
        <div class="a">K</div>
      </div>
    </div>
    <div class="frame-div">
      <img class="frame-icon" alt="" src="alphabet l.jpeg" />

      <div class="a-wrapper">
        <div class="a">L</div>
      </div>
    </div>
    <div class="sign-languagephoto-1"></div>
    <div class="frame-parent1">
      <img class="frame-icon" alt="" src="WhatsApp Image 2024-04-03 at 20.05.25.jpeg" />

      <div class="a-wrapper">
        <div class="a">G</div>
      </div>
      <div class="frame-child4"></div>
      <div class="frame-parent2">
        <img class="frame-icon" alt="" src="WhatsApp Image 2024-04-03 at 20.05.26 (1).jpeg" />

        <div class="a-wrapper">
          <div class="a">B</div>
        </div>
      </div>
    </div>
    <div class="frame-parent3">
      <img class="frame-icon" alt="" src="WhatsApp Image 2024-04-03 at 20.05.26.jpeg" />

      <div class="a-wrapper">
        <div class="a">B</div>
      </div>
      <div class="frame-child7"></div>
    </div>
  </div>

  <div class="about-us-wrapper">
    <div class="about-us">
      <div class="frame-parent4">
        <div class="about-us-parent">
          <b class="linkedin">About us</b>
          <div class="at-talk-hands">
            At talk Hands, we're passionate about breaking down
            communication barriers and fostering inclusivity. Our sign
            language recognition system utilizes cutting-edge machine
            learning technology to bridge the gap between sign language
            users and the broader community. By providing a platform where
            users can seamlessly translate sign language gestures into text,
            we empower individuals with diverse communication needs to
            express themselves more effectively. Our mission is to create a
            world where everyone, regardless of their abilities or
            linguistic background, can communicate freely and effortlessly."
          </div>
        </div>
        <div class="frame-parent5">
          <div class="frame-wrapper1">
            <div class="group-parent">
                <i class="fa-brands fa-instagram fa-2xl"></i>

              <b class="linkedin">Instagram</b>
            </div>
          </div>
          <div class="frame-wrapper2">
            <div class="group-parent">
                <i class="fa-brands fa-linkedin fa-2xl"></i>

              <b class="linkedin">LinkedIn</b>
            </div>
          </div>
          <div class="frame-wrapper3">
            <div class="group-parent">
                <i class="fa-solid fa-phone fa-2xl"></i>
              <b class="linkedin">24/7 Support</b>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <div class="footer">
    <div class="group-parent">
      <div class="linkedin">Talk Hands</div>
      <div class="group-parent2">
        <i class="fa-brands fa-instagram"></i>

        <i class="fa-brands fa-linkedin"></i>

        <i class="fa-solid fa-phone"></i>
      </div>
    </div>
    <div class="footer-inner">
      <div class="frame-wrapper4">
        <div class="the-talk-hands-site-is-a-sign-wrapper">
          <div class="the-talk-hands">
            The Talk Hands site is a sign language resource created
            with love for the Deaf and Dumb people. It helps to bridge a gap
            between specially abled people and others.
          </div>
        </div>
      </div>
    </div>
    <div class="all-right-reserved-term-of-use-wrapper">
      <div class="all-right-reserved-term-of-use">
        <div class="all-right-reserved">
          2024 all Right Reserved Term of use TalkHands
        </div>
      </div>
    </div>
  </div>
</body>

</html>